@model ProjectYear4.Models.UtilityBillExpense

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Utility Bill Expenditure</h2>

<h3>Are you sure you want to delete these Expenses?</h3>
<div>
    <h4>Click Delete Expenses button to confirm.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Electricity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Electricity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefuseCollection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefuseCollection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IrishWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IrishWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TVLicenseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVLicenseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneBillAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneBillAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BroadbandAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BroadbandAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UtilityBillExpenseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtilityBillExpenseAmount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete Expenses" class="btn btn-default" /> |
            @Html.ActionLink("Back to Utility Bill Expenditure", "Index")
        </div>
    }
</div>
