@model BudgetCalculator.Models.UtilityBillExpense

@{
    ViewBag.Title = "Details";
}
<div>
    <br />
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Home", "Index", "Home")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("My Budgets", "Index", "Budgets")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Utility Bill Expenditure", "Index")</a>
    @*@Html.ActionLink("Home", "Index", "Home") |
    @Html.ActionLink("My Budgets", "Index", "Budgets") |
    @Html.ActionLink("Utility Bill Expenditure", "Index")*@
</div>
<h3>Utility Bill Expenditure Details</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Electricity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Electricity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefuseCollection)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefuseCollection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IrishWater)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IrishWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TVAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TVAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneBillAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneBillAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BroadbandAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BroadbandAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UtilityBillExpenseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UtilityBillExpenseAmount)
        </dd>
    </dl>
</div>