@model IEnumerable<ProjectYear4.Models.UtilityBillExpense>

@{
    ViewBag.Title = "Index";
}
<p>
    <br />
    @Html.ActionLink("Home", "Index", "Home") |
    @Html.ActionLink("My Budgets", "Index", "Budgets")
</p>
<h3>Utility Bill Expenditure</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Budget.BudgetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Electricity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefuseCollection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IrishWater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TVLicenseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneBillAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BroadbandAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilityBillExpenseAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Budget.BudgetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Electricity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefuseCollection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IrishWater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TVLicenseAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneBillAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BroadbandAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilityBillExpenseAmount)
        </td>

        <td>
            <div class="btn-group">
                <a href="#" class="dropdown-toggle, btn btn-info btn-large" data-toggle="dropdown"
                   row="button" aria-expanded="false">Select <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Edit Expenditure", "Edit", new { id = item.UtilityBillExpenseId })</li>
                    <li>@Html.ActionLink("Expenditure Details", "Details", new { id = item.UtilityBillExpenseId })</li>
                    <li>@Html.ActionLink("Delete Expenditure", "Delete", new { id = item.UtilityBillExpenseId })</li>
                </ul>
            </div>
        </td>
    </tr>
}
</table>