@model IEnumerable<ProjectYear4.Models.UtilityBillExpense>

@{
    ViewBag.Title = "Index";
}

<h2>Utility Bill Expenditure</h2>

<p>
    @Html.ActionLink("Add Utility Expenses", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Budget.BudgetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Electricity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefuseCollection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IrishWater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TVLicenseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneBillAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BroadbandAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilityBillExpenseAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Budget.BudgetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Electricity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefuseCollection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IrishWater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TVLicenseAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneBillAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BroadbandAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilityBillExpenseAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UtilityBillExpenseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UtilityBillExpenseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UtilityBillExpenseId })
        </td>
    </tr>
}

</table>
