@model BudgetCalculator.Models.Income

@{
    ViewBag.Title = "Delete";
}
<div>
    <br />
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Home", "Index", "Home")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("My Budgets", "Index", "Budgets")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Income", "Index")</a>
    @*@Html.ActionLink("Home", "Index") |
    @Html.ActionLink("My Budgets", "Index", "Budgets") |
    @Html.ActionLink("Income", "Index", "Incomes")*@
</div>
<h3>Delete Income</h3>
<h5>Click Delete Income button to confirm.</h5>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomeAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncomeAmount)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete Income" class="btn btn-danger" />
            </div>
    }
</div>