@model BudgetCalculator.Models.Income

@{
    ViewBag.Title = "Details";
}
<div>
    <br />
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Home", "Index", "Home")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("My Budgets", "Index", "Budgets")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Income", "Index")</a>
</div>
<h3>Income Details</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryIncomeAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaryIncomeAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalIncomeAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalIncomeAmount)
        </dd>
    </dl>
</div>