@model BudgetCalculator.Models.CarExpense

@{
    ViewBag.Title = "Delete";
}
<p>
    <br />
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Home", "Index", "Home")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("My Budgets", "Index", "Budgets")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Car Expenditure", "Index")</a>
    @*@Html.ActionLink("Home", "Index") |
    @Html.ActionLink("My Budgets", "Index", "Budgets") |
    @Html.ActionLink("Car Expenditure", "Index")*@
</p>
<h3>Delete Car Expenditure</h3>
<h5>Click Delete Expenses button to confirm.</h5>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarInsurance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarInsurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maintenance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Maintenance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuelAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NctTest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NctTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NctAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NctAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TollChargeAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TollChargeAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarExpenseOtherAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarExpenseOtherAmount)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete Expenses" class="btn btn-danger" />
        </div>
    }
</div>