@model IEnumerable<BudgetCalculator.Models.CarExpense>

@{
    ViewBag.Title = "Index";
}
<p>
    <br />
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Home", "Index", "Home")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("My Budgets", "Index", "Budgets")</a>
    @*@Html.ActionLink("Home", "Index", "Home") |
    @Html.ActionLink("My Budgets", "Index", "Budgets")*@
</p>
<h3>Car Expenditure</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Budget.BudgetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarInsurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintenance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NctTest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NctAmount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Budget.BudgetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarTax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarInsurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maintenance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NctTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NctAmount)
            </td>

            <td>
                <div class="btn-group">
                    <a href="#" class="dropdown-toggle, btn btn-info btn-sm" data-toggle="dropdown"
                       row="button" aria-expanded="false">Select <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit Expenditure", "Edit", new { id = item.CarExpenseId })</li>
                        <li>@Html.ActionLink("Expenditure Details", "Details", new { id = item.CarExpenseId })</li>
                        <li>@Html.ActionLink("Delete Expenditure", "Delete", new { id = item.CarExpenseId })</li>
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>