@model BudgetCalculator.Models.Budget

@{
    ViewBag.Title = "Delete";
}
<div>
    <br />
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Home", "Index", "Home")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("My Budgets", "Index", "Budgets")</a>
    @*@Html.ActionLink("Home", "Index", "Home") |
    @Html.ActionLink("My Budgets", "Index", "Budgets")*@
</div>
<h3>Delete Budget</h3>
<h5>Click Delete Budget button to confirm.</h5>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BudgetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BudgetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetUser.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BudgetUser.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BudgetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BudgetYear)
        </dd>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete Budget" class="btn btn-danger" />
        </div>
    }
</div>