@model BudgetCalculator.Models.Budget

@{
    ViewBag.Title = "Details";
}
<div>
    <br />
    @Html.ActionLink("Home", "Index", "Home") |
    @Html.ActionLink("My Budgets", "Index", "Budgets")
</div>
<h3>Budget Details</h3>

<div>
       <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BudgetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BudgetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetUser.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BudgetUser.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BudgetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BudgetYear)
        </dd>
    </dl>
</div>