@model IEnumerable<BudgetCalculator.Models.Budget>

@{
    ViewBag.Title = "Index";
}
<p>
    <br />
    <a class="btn btn-primary btn-xs"  @Html.ActionLink("Home", "Index", "Home")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Users", "Index", "BudgetUsers")</a>
    @*@Html.ActionLink("Home", "Index", "Home") |
    @Html.ActionLink("Users", "Index", "BudgetUsers")*@
</p>
<h3>My Budgets</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BudgetId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BudgetUser.LastName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.BudgetName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BudgetYear)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.BudgetStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetEndDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetId)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.BudgetUser.LastName)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.BudgetName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.BudgetYear)
            </td>*@

            <td>
                @Html.DisplayFor(model => item.BudgetStartDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.BudgetEndDate)
            </td>

            <td>
                <div class="btn-group btn-sm">
                    <a class="btn btn-info" href="#">Income</a>
                    <a class="btn btn-info dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Add Income", "Create", "Incomes", new { id = item.BudgetId }, null)</li>
                        @*<li>@Html.ActionLink("Edit Income", "Edit", "Incomes", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Income Details", "Details", "Incomes", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Delete Income", "Delete", "Incomes", new { id = item.BudgetId }, null)</li>*@
                    </ul>
                </div>
            </td>

            @*<td>
                <div class="btn-group">
                    <a href="#" class="dropdown-toggle, btn btn-info btn-sm" data-toggle="dropdown"
                       row="button" aria-expanded="false">
                        Income <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Add Income", "Create", "Incomes", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Edit Income", "Edit", "Incomes", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Income Details", "Details", "Incomes", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Delete Income", "Delete", "Incomes", new { id = item.BudgetId }, null)</li>
                    </ul>
                </div>
            </td>*@

            <td>
                <div class="btn-group btn-sm">
                    <a class="btn btn-info" href="#">Expenses</a>
                    <a class="btn btn-info dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Car", "Create", "CarExpenses", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Household", "Create", "HouseholdExpenses", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Personal", "Create", "PersonalExpenses", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Travel", "Create", "TravelExpenses", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Utility Bill", "Create", "UtilityBillExpenses", new { id = item.BudgetId }, null)</li>
                    </ul>
                </div>
            </td>
            @*<td>
                <div class="btn-group">
                    <a href="#" class="dropdown-toggle, btn btn-info btn-sm" data-toggle="dropdown"
                       row="button" aria-expanded="false">
                        Expenses <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Car", "Create", "CarExpenses", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Household", "Create", "HouseholdExpenses", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Personal", "Create", "PersonalExpenses", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Travel", "Create", "TravelExpenses", new { id = item.BudgetId }, null)</li>
                        <li>@Html.ActionLink("Utility Bill", "Create", "UtilityBillExpenses", new { id = item.BudgetId }, null)</li>
                    </ul>
                </div>
            </td>*@

            <td>
                <div class="btn-group btn-sm">
                    <a class="btn btn-info" href="#">Analysis</a>
                    <a class="btn btn-info dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Budget Summary", "Summary", new { id = item.BudgetId })</li>
                        <li>@Html.ActionLink("Budget Forecast", "Forecast", new { id = item.BudgetId })</li>
                    </ul>
                </div>
            </td>
            @*<td>
                <div class="btn-group">
                    <a href="#" class="dropdown-toggle, btn btn-info btn-sm" data-toggle="dropdown"
                       row="button" aria-expanded="false">
                        Analysis <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Budget Summary", "Summary", new { id = item.BudgetId })</li>
                        <li>@Html.ActionLink("Budget Forecast", "Forecast", new { id = item.BudgetId })</li>
                    </ul>
                </div>
            </td>*@

            <td>
                <div class="btn-group btn-sm">
                    <a class="btn btn-info" href="#">Select</a>
                    <a class="btn btn-info dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit Budget", "Edit", new { id = item.BudgetId })</li>
                        <li>@Html.ActionLink("Budget Details", "Details", new { id = item.BudgetId })</li>
                        <li>@Html.ActionLink("Delete Budget", "Delete", new { id = item.BudgetId })</li>
                    </ul>
                </div>
            </td>
            @*<td>
                <div class="btn-group">
                    <a href="#" class="dropdown-toggle, btn btn-info btn-sm" data-toggle="dropdown"
                       row="button" aria-expanded="false">
                        Select <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit Budget", "Edit", new { id = item.BudgetId })</li>
                        <li>@Html.ActionLink("Budget Details", "Details", new { id = item.BudgetId })</li>
                        <li>@Html.ActionLink("Delete Budget", "Delete", new { id = item.BudgetId })</li>
                    </ul>
                </div>
            </td>*@
        </tr>
    }
</table>