@model BudgetCalculator.Models.HouseholdExpense

@{
    ViewBag.Title = "Delete";
}
<p>
    <br />
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Home", "Index", "Home")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("My Budgets", "Index", "Budgets")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Household Expenditure", "Index")</a>
    @*@Html.ActionLink("Home", "Index") |
    @Html.ActionLink("My Budgets", "Index", "Budgets") |
    @Html.ActionLink("Household Expenditure", "Index")*@
</p>
<h3>Delete Household Expenditure</h3>
<h5>Click Delete Expenses button to confirm.</h5>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroceryAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroceryAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClothingAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClothingAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EducationFeesAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EducationFeesAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolBooksAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SchoolBooksAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalBillAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedicalBillAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseholdOtherAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HouseholdOtherAmount)
        </dd>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete Expenses" class="btn btn-danger" />
        </div>
    }
</div>