@model IEnumerable<BudgetCalculator.Models.PersonalExpense>

@{
    ViewBag.Title = "Index";
}
<p>
    <br />
    @Html.ActionLink("Home", "Index", "Home") |
    @Html.ActionLink("My Budgets", "Index", "Budgets")
</p>
<h3>Personal Expenditure</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Budget.BudgetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GymMembershipAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SportsFeeAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HolidayAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SavingsAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanRepaymentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalExpenseOther)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Budget.BudgetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GymMembershipAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SportsFeeAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HolidayAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SavingsAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanRepaymentAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalExpenseOther)
        </td>

        <td>
            <div class="btn-group">
                <a href="#" class="dropdown-toggle, btn btn-info btn-sm" data-toggle="dropdown"
                   row="button" aria-expanded="false">Select <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Edit Expenditure", "Edit", new { id = item.PersonalExpenseId })</li>
                    <li>@Html.ActionLink("Expenditure Details", "Details", new { id = item.PersonalExpenseId })</li>
                    <li>@Html.ActionLink("Delete Expenditure", "Delete", new { id = item.PersonalExpenseId })</li>
                </ul>
            </div>
        </td>
    </tr>
}
</table>