@model BudgetCalculator.Models.TravelExpense

@{
    ViewBag.Title = "Delete";
}
<p>
    <br />
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Home", "Index", "Home")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("My Budgets", "Index", "Budgets")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Travel Expenditure", "Index")</a>
    @*@Html.ActionLink("Home", "Index") |
    @Html.ActionLink("My Budgets", "Index", "Budgets") |
    @Html.ActionLink("Travel Expenditure", "Index")*@
</p>
<h3>Delete Travel Expenditure</h3>
<h5>Click Delete Expenses button to confirm.</h5>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget.BudgetName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget.BudgetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuasAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LuasAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxiAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaxiAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrainAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelOther)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TravelOther)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>