@model IEnumerable<BudgetCalculator.Models.TravelExpense>

@{
    ViewBag.Title = "Index";
}
<p>
    <br />
    <a class="btn btn-primary btn-xs" @Html.ActionLink("Home", "Index", "Home")</a>
    <a class="btn btn-primary btn-xs" @Html.ActionLink("My Budgets", "Index", "Budgets")</a>
    @*@Html.ActionLink("Home", "Index", "Home") |
    @Html.ActionLink("My Budgets", "Index", "Budgets")*@
</p>
<h3>Travel Expenditure</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Budget.BudgetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuasAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxiAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelOther)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Budget.BudgetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BusAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuasAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxiAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelOther)
        </td>

        <td>
            <div class="btn-group">
                <a class="btn btn-info" href="#">Select</a>
                <a class="btn btn-info dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Edit Expenditure", "Edit", new { id = item.TravelExpenseId })</li>
                    <li>@Html.ActionLink("Expenditure Details", "Details", new { id = item.TravelExpenseId })</li>
                    <li>@Html.ActionLink("Delete Expenditure", "Delete", new { id = item.TravelExpenseId })</li>
                </ul>
            </div>
        </td>
        @*<td>
            <div class="btn-group">
                <a href="#" class="dropdown-toggle, btn btn-info btn-sm" data-toggle="dropdown"
                   row="button" aria-expanded="false">Select <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Edit Expenditure", "Edit", new { id = item.TravelExpenseId })</li>
                    <li>@Html.ActionLink("Expenditure Details", "Details", new { id = item.TravelExpenseId })</li>
                    <li>@Html.ActionLink("Delete Expenditure", "Delete", new { id = item.TravelExpenseId })</li>
                </ul>
            </div>
        </td>*@

    </tr>
}
</table>